# Ignore node_modules folder
node_modules/
.vscode/
# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore compiled files
*.class
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr
